/*.upload  {*/
/*    display:block;*/
/*}*/

/*form {*/
/*    margin-left: 100px;*/
/*}*/

#fileUpload {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 20%;
    background-color: #BBB8B7;
    text-align: center;
}

/* Main column */
.main {
    flex: 60%;
    padding: 40px;
    background-image:  url("../img/italie.png");
    background-size: cover;
    border-radius: 10px;
    margin: 20px;
}

.main-content {
    min-height: 350px;
    width: 57%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
}

.imgButton, ::file-selector-button{
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    transition-duration: 0.2s;
    cursor: pointer;
    color: black;
    outline: none;
    padding: 0.5em;
    border-radius:10px;
}

.imgButton:hover, ::file-selector-button:hover{
    background-color: #db3c28;
    color: white;
}

.saveButton {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    transition-duration: 0.2s;
    cursor: pointer;
    color: black;
    width: 206px;
    font-size: 1em;
    outline: none;
    padding: 0.5em;
    border-radius:10px;
    margin-top: 50px;
}

.saveButton:hover {
    background-color: #db3c28;
    color: white;
}

.inputText{
    border-radius: 5px;
    border: 1px solid black;
    min-height: 25px;
    padding-left: 5px;
    height: auto;
    margin-bottom: 10px;
}

input[type="checkbox"]{
    margin-right: 15px;
    scale: 125%;
}

.infoText {
    font-weight: bold;
    color: black;
    margin-top: 10px;
}
.value {
    margin-top: 10px;
    width: 180px;
}

.editText {
    margin-top: 20%;
}

td{
    display: inherit;
}

label{
    width: 110px;
    display: inherit;
    font-weight: bold;
}

#checkboxie{
    display: inherit;
}

#descriptionText{
    width: 260px;
    height: 50px;
    resize: none;
}

#text{
    display: inherit;
}