@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: "Open Sans", sans-serif;
}

.firstInfoDiv{
    width: 100%;
    position: absolute;
}

.secondInfoDiv{
    width: 100%;
    position: relative;
}

.img-container{
    position: relative;
}
.homeImage1, .homeImage2, .homeImage3{
    position: absolute;
    margin-right: 25%;
}

/* images home page styling */
.homeImage1{
    width: 250px;
    height: 250px;
    object-fit: fill;
    border-radius: 15px;
    top: 90px;
}

.homeImage2{
    width: 225px;
    height: 225px;
    object-fit: fill;
    border-radius: 15px;
    top: 240px;
    margin-left: 200px;
}

.homeImage3{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    top: 365px;
    margin-left: 80px;
}

/* Home text styling */
.homeTextContainer{
    float: left;
    width: 220px;
    color: #666;
    margin: 140px 50px 170px 30%;
}

/* paragraphs home page styling */
.pencilContainer{
    display: block;
    width: 200px;
    height: 400px;
    text-align: center;
    margin-left: 25%;
    margin-top: 700px;
    color: #666;
    background: white;
}

.pencil{
    height: 100px;
    width: 100px;
}

.glassContainer{
    display: block;
    width: 200px;
    height: 400px;
    text-align: center;
    margin-left: 45%;
    margin-top: -400px;
    color: #666;
}

.glass{
    height: 100px;
    width: 100px;
}

.handshakeContainer{
    display: block;
    width: 200px;
    height: 400px;
    text-align: center;
    margin-left: 65%;
    margin-top: -400px;
    color: #666;
}

.handshake{
    height: 100px;
    width: 100px;
}

