@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: "Open Sans", sans-serif;
}

/* images home page styling */
.homeImage1{
    width: 250px;
    height: 250px;
    display: block;
    object-fit: cover;
    float: left;
    margin-left: 45%;
    margin-top: 40px;
    border-radius: 16px;
    border: 4px solid #666;
    position: absolute;
}

.homeImage2{
    width: 225px;
    height: 225px;
    display: block;
    object-fit: cover;
    float: left;
    margin-left: 60%;
    margin-top: 163px;
    border-radius: 16px;
    border: 4px solid #666;
    position: absolute;
}

.homeImage3{
    width: 200px;
    height: 200px;
    display: block;
    object-fit: cover;
    float: left;
    margin-left: 50%;
    margin-top: 318px;
    border-radius: 16px;
    border: 4px solid #666;
    position: absolute;
}

/* paragraphs home page styling */
.pencilContainer{
    display: block;
    width: 200px;
    height: 600px;
    text-align: center;
    margin-left: 25%;
    margin-top: 625px;
    color: #666;
    background: white;
}

.pencil{
    height: 100px;
    width: 100px;
}

.glassContainer{
    display: block;
    width: 200px;
    height: 600px;
    text-align: center;
    margin-top: -600px;
    margin-left: 45%;
    color: #666;
}

.glass{
    height: 100px;
    width: 100px;
}

.handshakeContainer{
    display: block;
    width: 200px;
    height: 600px;
    text-align: center;
    margin-left: 65%;
    margin-top: -600px;
    color: #666;
    margin-bottom: -190px;
}

.handshake{
    height: 100px;
    width: 100px;
}

/* Home text styling */
.homeTextContainer{
    width: 220px;
    margin-left: 27%;
    margin-top: 95px;
    margin-bottom: 50px;
    position: absolute;
    color: #666;
}