/*
Tygo
Same design for all HTML pages
- font type
- navbar
- footer
- body
*/
html{
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
}

.footer {
    background-color: gray;
    margin-top: 15px;
    padding: 25px;
    text-align: center;
}

.footer li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

/*  Navbar with text  */
.navWithItems {
    background-color: #D9260F;
    margin-top: 1%;
    padding: 0;
    border: solid black 5px;
}

.navText {
    padding-right: 50px;
    padding-bottom: 10px;
}

/* navbar without items (used for homepage) */
.navEmpty {
    background-color: #D9260F;
    margin-top: 15px;
    padding: 25px;
}


.logo {
    margin: 10px 0 0 0;
    width: 12%;
}

#huis {
    float: left;
    padding-top: 20px;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: white;
}


.footerText {
    font-size: 15px;
    margin-bottom: 3%;
}

