.userProfile {
    margin-top: 5%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 10%;
    overflow: auto;
    background-image: url(../img/italie.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px outset #db3c28;
    border-radius: 5px;
}

.profileImg {
    margin-top: 5%;
    height: 300px;
    border: 3px solid #db3c28;
    border-radius: 10px;
    float: left;
    position: absolute;
    width: 300px;
    object-fit: contain;
}
.infoTextUser {
    font-weight: bold;
    padding-left: 25%;
    text-decoration: underline;
    color: black;
}
.Uservalue {
    padding-left: 25%;
}

.user-info {
    float: left;
    padding-right: 20%;
    margin-top: 5%;
}

.biography {
    margin-top: 5%;
    margin-right: 5%;
    border: 2px solid black;
    padding-bottom: 20%;
    background-color: white;
}

#buttonDiv{
    float: left;
    margin-top: 400px;
    left: 0;
    position: relative;
}

.inputText {
    background-color: transparent;
    border: 3px solid #db3c28;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #db3c28
}

.inputText:hover {
    background-color: #db3c28;
    color: white;
}


