/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 20%;
    background-color: #BBB8B7;
    text-align: center;
}

/* Main column */
.main {
    flex: 60%;
    padding: 40px;
    background-image:  url("../img/italie.png");
    background-size: cover;
    border-radius: 10px;
    margin: 20px;
}

.userProfile {
    width: 57%;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
}

.profileImg {
    margin-top: 30%;
    height: 200px;
    border: 3px solid black;
    border-radius: 15px;
    width: 200px;
    object-fit: contain;
}
.infoTextUser {
    font-weight: bold;
    padding-left: 25%;
    color: black;
}
.Uservalue {
    padding-left: 25%;
    margin-top: 0;
}

.user-info {
    float: left;
    padding-right: 20%;
}

.biography{
    width: auto;
    margin-top: 66px;
}

#buttonDiv{
    margin-top: 25px;
    width: 206px;
    margin-left: auto;
    margin-right: auto;
}

.inputText {
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid black;
    transition-duration: 0.2s;
    cursor: pointer;
    color: black;
    width: 206px;
    font-size: 1em;
    outline: none;
    padding: 0.5em;
    border-radius:10px;
    margin-top: 10px;
}

.inputText:hover {
    background-color: #db3c28;
    color: white;
}


